@model Spice.Models.Coupons
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2 class="text-info">Coupon Details</h2>
<br />
<div class="row  backgroundWhiteBorder">
    <br />
    <div class=" col-12 border">
        @{
            var base64 = Convert.ToBase64String(Model.Picture);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
        }
        <img src="@imgsrc" height="100%" width="100%" />
    </div>
    <div class="col-12 pt-4">
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Name" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="CouponsType" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <select asp-for="CouponsType" asp-items="Html.GetEnumSelectList<Coupons.ECouponsType>()" class="form-control"></select>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Discount" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Discount" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="MinimumAmount" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="MinimumAmount" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="IsActive" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input type="checkbox" asp-for="IsActive" class="form-check-input mx-1" />
                </div>
            </div>
            <br />

        </fieldset>
        <br />
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DetailsAndbacktoList" model="@Model.Id" />
            </div>
        </div>
    </div>

</div>