@model Spice.Models.ViewModels.MenuItemViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h2 class="text-info">Details Menu Item</h2>
<br />
<div class="backgroundWhiteBorder row">
    <div class="col-8">
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.Name" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItems.Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.Description" class="custom-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.MenuItems.Description)
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.Price" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItems.Price" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.CategoryId" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItems.Category.Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.SubCategoryId" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItems.SubCategory.Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItems.Spicyness" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItems.Spicyness" asp-items="Html.GetEnumSelectList<MenuItems.ESpicy>()" class="form-control"></select>
                </div>
            </div>
            <br />


        </fieldset>
    </div>
    <br />
    <div class="col-1"></div>
    <div class="col-3">
        <img src="@Model.MenuItems.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
    </div>
    <br />
    <div class="col-8">
        <div class="col-8 offset-4">
            <partial name="_DetailsAndbacktoList" model="Model.MenuItems.Id" />
        </div>
    </div>
</div>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
            menubar: 'file edit format',
            readonly: 1
        });</script>
    <script>tinymce.init({ selector: 'textarea' });</script>

}